@model BeFit.Models.ExConn

@{
    ViewData["Title"] = "Details";
}

<h1>Szczegóły</h1>

<table class="table table-bordered">
    <tr><th>Ćwiczenie</th><td>@Model.ExType?.Name</td></tr>
    <tr><th>Start</th><td>@Model.SessionInfo?.Start</td></tr>
    <tr><th>Koniec</th><td>@Model.SessionInfo?.End</td></tr>
    <tr><th>Serie</th><td>@Model.Sets</td></tr>
    <tr><th>Powtórzenia w serii</th><td>@Model.RepsPerSet</td></tr>
    <tr><th>Obciążenie (kg)</th><td>@Model.Load</td></tr>
</table>

<a asp-action="Edit" asp-route-id="@Model.ConnId">Edit</a> |
<a asp-action="Index">Powrót</a>
